.profile {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: var(--spacer-lg);
}

@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }

  .socials {
    flex-direction: column;
  }
  
  .social-links {
    flex-wrap: wrap;
  }
}
